<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset='utf-8'>
    <style>
        {Theme}
    </style>
</head>
<body>
    <div>{Parent}</div>
	
    <h1 class="mdNote">
        <a href="delete_current" class="button delete"></a>
        <a href="share_current" class="button share"></a>
        <a href="edit_current" class="button edit"></a>
        {NoteTitle} 
    </h1>
    <div class="note-content">{NoteContent}</div>
	<ul class="mdNote">
        {NoteChilds}
    </ul>
	<a href='add' class="float-button"></a>
</body>
</html>
